<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard - TnT</title>
</head>

<body>

<nav>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>

</nav>

{% if current_user.is_authenticated %}

<h1> User Dashboard</h1>

<p> Welcome, {{ current_user.username }}! </p>

<h2> Manage your account </h2>

<ul>
    <li>Portfolio</li>
    <li>Account and Fund Management</li>
    <li>Order History</li>
</ul>

{% else %}

<h1>You must be logged in to view this page.</h1>

{% endif %}

</body>
</html>